<div class="canvasBox" id="active-page-square">
	<h2>Draw your breath</h2>
</div>

<div id="active-page-feedback">
	<img src="images/sinus.png">
	NOW
</div>

<div class="bottom-buttons">
	<button id="active-finish-button" type="button" class="btn btn-success btn-lg btn-block">Finish</button>
	<button id="active-quit-button" type="button" class="btn btn-danger btn-lg btn-block">Quit</button>
</div>