<div class = "container">
  <h2> Draw Your Breath </h2>
  <div id="active-page-square">

  </div>
  <div id="active-page-feedback">
  	<img src="images/sinus.png">
  </div>
</div>

<button id="active-finish-button" type="button" class="btn btn-success btn-lg btn-block">Finish</button>