<h2 class="mainTitle"><span>Draw your</span> breath</h2>

<div class="page-content">
	<div id="instructions">
		<div id="instructions_content">
			<h4 class="instructHeader">Instructions</h4>
			<p>As you <span class="inhale">inhale</span>, </br> slide your thumb <span class="inhale">up</span></p>
			<p class="arrow inhale">&uarr;</p>
			<p class="arrow exhale">&darr;</p>	
			<p>As you <span class="exhale">exhale</span>, </br>slide your thumb <span class="exhale">down</span></p>
			<p class="tapToHide">tap to hide</p>
		</div>
	</div>
	<div id="breathCanvas">
		<div id="breathController"></div>
	</div>
	<div id="breathGraph">
		<input type="checkbox" id="guidanceCheckbox" checked>
	</div>
</div>

<div class="bottom-buttons">
	<button id="active-finish-button" type="button" class="finish-button btn btn-success btn-lg btn-block">Finish</button>
	<button id="active-quit-button" type="button" class="quit-button btn btn-danger btn-lg btn-block">Quit</button>
</div>