<h2>Draw your breath</h2>

<div class="page-content">
	<div id="breathCanvas">
		<div id="breathController"></div>
	</div>
	<div id="breathGraph"></div>
</div>

<div class="bottom-buttons">
	<button id="active-finish-button" type="button" class="finish-button btn btn-success btn-lg btn-block">Finish</button>
	<button id="active-quit-button" type="button" class="quit-button btn btn-danger btn-lg btn-block">Quit</button>
</div>