<div class = "container">
  <h2> DRAW YOUR BREATH </h2>
  <div id="active-page-square">

  </div>
</div>

<button id="active-finish-button" type="button" class="btn btn-success btn-lg btn-block">Finish</button>