<div class = "container">
	<h2>Help</h2>
	<ul>
		<li>MobileMindfulness is a meditation exercise you can do on your phone.</li>
		<li>It works by getting you to focus on your breath, which can help calm your body and mind.</li> 
		<li>You can perform the exercise for as long as you'd like.</li>
		<li>Swipe your thumb up the screen as you inhale:</li>
		<li>Swipe your thumb down the screen as you exhale.</li>
	</ul>
	<button id="help-start-button" type="button" class="btn btn-success btn-lg btn-block">Start</button>
</div>