<h2 class="mainTitle">Help</h2>
<div class="page-content">
	<p>MobileMindfulness is a breathing exercise you can perform anywhere, for as long as you'd like. </p>
	<p>You simply slide your thumb up the screen as you inhale, and down the screen as you exhale. See the video for a demo!</p>
	<iframe src="//player.vimeo.com/video/87145422?badge=0&title=0&byline=0&color=00ff84&portrait=0" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="bottom-buttons">
	<button id="help-start-button" type="button" class="start-button btn btn-success btn-lg btn-block">Start</button>
	<button id="help-back-button" type="button" class="back-button btn btn-danger btn-lg btn-block">Back</button>
</div>