<h3>What is this app all about?</h3>
<ul>
	<li>MobileMindfulness is a meditation exercise you can do on your phone.</li>
	<li>It works by getting you to focus on your breath, which can help calm your body and mind.</li> 
	<li>You can perform the exercise for as long as you'd like.</li>
	<li>On the following screen, you will see a box at the top of the screen.</li>
</ul>
<h3>How do I perform the exercise?</h3>
<ul>
	<li>Place your thumb in the middle of the box.</li>
	<li>As you inhale, move your thumb up the screen. </li>
	<li>As you exhale, move your thumb down the screen. </li>
	<li>The bottom of the screen shows a graph of your recent breathing patterns.</li>
</ul>

<div class="bottom-buttons">
	<button" id="help-start-button" type="button" class="start-button btn btn-success btn-lg btn-block">Start</button>
	<button id="help-back-button" type="button" class="back-button btn btn-danger btn-lg btn-block">Back</button>
</div>