<h2>Your Progress</h2>

<p id="wait-msg">Content loading...</p>

<div class = "page-content" id = "progress-page-content">
	<canvas id="progress-graph" width="400" height="200"></canvas>
	<table id = "progress-table" class = "table"></table>
</div>

<div class="btn-group btn-group-justified bottom-buttons-home">
  <div class="btn-group">
  	<button id="progress-home-button" type="button" class="home-button btn btn-success btn-lg">Home</button>  
  </div>
</div>


<!--TODO: Restore if/else after testing.-->


<!-- {{#if username}} -->
<!-- 	For now this is a statically populated table.
	Soon we will use AJAX and our back-end database
	to populate the table with the user's actual 
	progress data. -->
<!-- <p id="wait-msg">Content loading...</p>
<table id = "progress-table"></table> -->
<!-- {{else}}
	<div class="inner cover">
		<h2 class="cover-heading">Error: You must be logged in to view your progress.<h2> 
		<p class = "lead"> <a href="/">Click here to log in.<a></p>
	</div>
{{/if}} -->