<h2>Progress</h2>

<div class="page-content">
	<div class="overlay">
	</div>
	<div id="loading"><h3>Loading . . . </h3></div>
	<div id="progressGraph"></div>
	<div id="sessions"></div>

</div>


<div class="single bottom-buttons">
	<button id="progress-home-button" type="button" class="home-button btn btn-success btn-lg btn-block">Home</button>
</div>