<h2>Results</h2>

<div class="page-content">
	<h4>Your Breathing:</h4>
	<div id="resultsGraph"></div>
	<h4>Condensed View:</h4>
	<div id="condensedResultsGraph"></div>
</div>


<div class="bottom-buttons">

	<button id="results-home-button" type="button" class="home-button btn btn-success btn-lg btn-block">Home</button>
	<button type="button" class="save-data btn btn-info btn-lg btn-block">Save Results</button>

</div>