<h2>Results</h2>

<div class="page-content">
	<h4>Your Breathing:</h4>
	<div id="resultsGraph"></div>
	<h4>Condensed View:</h4>
	<div id="condensedResultsGraph"></div>
</div>


<div class="bottom-buttons">

	<button id="results-save-button" type="button" class="save-button btn btn-success btn-lg btn-block">Save results</button>
	<button type="button" class="quit-button btn btn-danger btn-lg btn-block">Quit</button>

</div>