<div id="preCanvas" class = "canvasBox">
<div class = "container">
  <h3>Results</h3>
  <h4>These are you results:</h4>
  <div id="results-graph">
  	<img src="images/sinus.png">
  </div>
</div>


<button id="results-home-button" type="button" class="btn btn-success btn-lg btn-block">Home</button>
<button type="button" class="btn btn-danger btn-lg btn-block">Close App</button>