
<div class = "container">
  <h3>Results</h3>
  <h4>Your Breathing:</h4>
  <div id="results-graph">
  	<img src="images/sinus.png">
  	10:05:30
  </div>
  <div id="results-graph-condensed">
 	Condensed View:
  	<img src="images/sinus.png">
  </div>
</div>


<button id="results-home-button" type="button" class="btn btn-success btn-lg btn-block">Home</button>