<h2>Results</h2>

<div class="page-content">
	<div id="basicStatistics">
		<div class="half">
			<h4>Duration:</h4>
			<p id="duration"></p>
		</div>
		<div class="half">
			<h4>Average breath:</h4>
			<p id="averageBreath"></p>
		</div>
	</div>
	<h4>Your Breathing:</h4>
	<div id="resultsGraph"></div>
	<h4 id="condensedHeader">Condensed View:</h4>
	<div id="condensedResultsGraph">
		<span>Breath at beginning</span>
		<span>Breath at end</span>
	</div>
</div>


<div class="bottom-buttons">

	<button id="results-save-button" type="button" class="save-button btn btn-success btn-lg btn-block">Save results</button>
	<button type="button" class="quit-button btn btn-danger btn-lg btn-block">Quit</button>

</div>