<h2>MobileMindfulness</h2>

<div class="page-content">
	<div id="preCanvas" class = "canvasBox">
		<img id = "bannerHead" class = "img-responsive" src = "images/meditation-6.jpg" max-height = "100%">
		<div id="introBox" class = "canvasBox">
		  <h3>Welcome!</h3>
		  <h4>Take a nice, deep breath...</h4>
		  <h4>If you're new, press <button type="button" class="btn btn-info">Help</button></h4>
		  <h4>To dive right in, press <button type="button" class="btn btn-success">Start</button></h4>
		</div>
	</div>
</div>

<div class="triple bottom-buttons">
	<button id="start-start-button" type="button" class="start-button btn btn-success btn-lg btn-block">Start</button>
	<button id="start-progress-button" type="button" class="progress-button btn btn-primary btn-lg btn-block">Progress</button>
	<button id="start-help-button" type="button" class="help-button btn btn-info btn-lg btn-block">Help</button>
</div>