<!doctype html>

<html>
<head>
	<title>Experiment</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/experiment.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body>
  {{#if username}}
  <div class="loading-overlay">
  </div>
  <div id="loading"><h3>Loading . . . </h3></div>
  <h2>Guidance</h2>
  <div id="guidanceSessions"></div>
  <h2>Original</h2>
  <div id="indexSessions"></div>
  <div class="single bottom-buttons">
    <button id="experiment-update-button" type="button" class="update-button btn btn-success btn-lg btn-block">Update</button>
  </div>
  {{else}}
  <a id="loggedInUser" href="/">Sign in/Register</a>
  {{/if}}
</body>

<script src="js/breathCanvas.js"> </script>
<script src="js/breathGraph.js"> </script>
<script src="js/breathResults.js"> </script>
<script src="js/breathProgress.js"> </script>
<script src="js/breathExperiment.js"> </script>
<script src="js/jquery-1.11.0.js"> </script>
<script src="js/bootstrap.js"> </script>
<script src="js/experimentHome.js"> </script>


</html>
