<!doctype html>

<html>
<head>
	<title>MM</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/hci-friends.css">   
</head>

<body>
	<div class="container">
      <h1 id="appTitle">MobileMindfulness</h1>

      <div id="preCanvas" class = "canvasBox">
        <div class = "container">
          <img id = "bannerHead" class = "img-responsive" src = "http://cirquedevol.com/wp-content/uploads/2012/08/meditation-6.jpg" max-height = "100%">
        </div>
      </div>

      <div id="introBox" class = "canvasBox">
        <div class = "container">
          <h3>Welcome!</h3>
          <h4>Take a nice, deep breath...</h4>
          <h4>If you're new, press <button type="button" class="btn btn-info">Help</button></h4>
          <h4>To dive right in, press <button type="button" class="btn btn-success">Start</button></h4>
        </div>
      </div>

      <button type="button" class="btn btn-success btn-lg btn-block">Start</button>
      <button type="button" class="btn btn-danger btn-lg btn-block">Timed Mode</button>
      <button type="button" class="btn btn-info btn-lg btn-block">Help</button>
	</div>
</body>

<script src="js/jquery-1.11.0.js"> </script>
<script src="js/hci-friends.js"> </script>
<script src="js/bootstrap.js"> </script>
<script src="js/home.js"></script>



</html>
