<!doctype html>

<html>
<head>
	<title>MM</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">  
    <link rel="stylesheet" type="text/css" href="css/active.css">  
    <link rel="stylesheet" type="text/css" href="css/results.css">
    <link rel="stylesheet" type="text/css" href="css/breathInteraction.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body>

  <!--TODO: Remove after testing.-->
  <p id = "username" style="display:none">fake_user</p>
  {{#if username}}
    <!--Allows jquery to easily access username-->
    <!--TODO: uncomment line below!-->
<!--     <p id="username" style:"display:none">{{username}}</p>-->
    <div id="logout-link">
      <a href="#" >{{username}},</a> <a href="/user_logout">Log Out</a>
    </div>
  {{/if}}
  <div class="content-page" id="start-page">
    {{> _start }}
  </div>
  <div class="content-page" id="active-page">
    {{> _active }}
  </div>
  <div class="content-page" id="results-page">
    {{> _results }}
  </div>
  <div class="content-page" id="help-page">
    {{> _help }}
  </div>
  <div class="content-page" id="progress-page">
    {{> _progress }}
  </div>
</body>

<script src="js/breathCanvas.js"> </script>
<script src="js/breathGraph.js"> </script>
<script src="js/breathResults.js"> </script>
<script src="js/progress.js"> </script>
<script src="js/jquery-1.11.0.js"> </script>
<script src="js/bootstrap.js"> </script>
<script src="js/home.js"> </script>


</html>
