<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='82942480-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
	<title>MM</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">  
    <link rel="stylesheet" type="text/css" href="css/active.css">  
    <link rel="stylesheet" type="text/css" href="css/results.css">
    <link rel="stylesheet" type="text/css" href="css/progress.css">
    <link rel="stylesheet" type="text/css" href="css/breathInteraction.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body>
  {{#if username}}
  <div id="loggedInUser">
    <div class="handle"></div>
    <div class="menu">
      <ul>
        <li>
          {{username}}
        </li>
        <a href="/user_logout">
          <li>
            Log Out
          </li>
        </a>
      </ul>
    </div>
  </div>
  {{else}}
  <a id="loggedInUser" href="/">Sign in/Register</a>
  {{/if}}
  <div class="content-page" id="start-page">
    {{> _start }}
  </div>
  <div class="content-page" id="active-page">
    {{> _active }}
  </div>
  <div class="content-page" id="results-page">
    {{> _results }}
  </div>
  <div class="content-page" id="help-page">
    {{> _help }}
  </div>
  <div class="content-page" id="progress-page">
    {{> _progress }}
  </div>

  <script src="js/breathCanvas.js"> </script>
  <script src="js/breathGraph.js"> </script>
  <script src="js/breathResults.js"> </script>
  <script src="js/breathProgress.js"> </script>
  <script src="js/jquery-1.11.0.js"> </script>
  <script src="js/bootstrap.js"> </script>
  <script src="js/home.js"> </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48623551-1', 'mobilemindfulness.herokuapp.com');
    //ga('create', 'UA-48623551-1', {'cookieDomain': 'none'}); // for localhost debugging
    ga('send', 'pageview');

  </script>
</body>


</html>
