#active-page-square {
	height: 200px;
	background: #333;
}

#active-page-feedback {
	position: relative;
	width: 100%;
	overflow: auto;
	background: white;
}

#active-page-feedback img {
	height: 150px;
	position: relative;
	border-right: 2px dotted black;
}

#active-page-feedback::-webkit-scrollbar { 
    display: none; 
}

#breathInteraction {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#breathCanvas {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 80px;
}

#instructions {
	position: absolute;
	top: 80px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	bottom: 0;
}

#instructions_content{
	padding-left: 2%;
}

#breathGraph {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

.inhale {
	font-weight: bold;
	color: #abffd6;
}

.exhale {
	font-weight: bold;
	color: #aee1ff;
}

.tapToHide {
	position: absolute;
	bottom: 5px;
	text-align: center;
	left: 0;
	right: 0;
}

.instructHeader {
	text-align: center;
	left: 0;
	right: 0;
}

#instructions h3{
	margin-bottom: 50px;
}

#instructions p{
	text-align: center;
}

#guidanceCheckbox {
	position: absolute;
	right: 0;
	top: 0;
/*	Setting width/height to 0 causes app to crash in Chrome on iPhone
	width: 0;
	height: 0;
*/	z-index: 11;
	cursor: pointer;
}

#guidanceCheckbox:before {
	content: 'Show Guidance';
	white-space: nowrap;
	background: #333;
	position: absolute;
	right: 0;
	border-radius: 6px;
	text-align: center;
	padding: 20px 40px 20px 20px;
	z-index: 12;
	color: white;
	font-size: 18px;
	line-height: 1.33;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

#guidanceCheckbox:after {
	content: '';
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #555;
	position: absolute;
	right: 10px;
	top: 19px;
	z-index: 13;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

#guidanceCheckbox:checked:after {
	background-color: #00ff84;
	background-image: url('../images/checkmark.png');
}

#guidanceCheckbox:checked:before {
	background: #444;
}

@media all and (max-width: 430px) {
	#guidanceCheckbox:before {
		content: 'Guidance';
	}
}