#active-page-square {
	height: 200px;
	background: #333;
}

#active-page-feedback {
	position: relative;
	width: 100%;
	overflow: auto;
	background: white;
}

#active-page-feedback img {
	height: 150px;
	position: relative;
	border-right: 2px dotted black;
}

#active-page-feedback::-webkit-scrollbar { 
    display: none; 
}

#breathInteraction {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#breathCanvas {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 80px;
	top: 0;
}

#breathGraph {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
}