#active-page-square {
	width: 90%;
	height: 200px;
	background-color: white;
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
}

#active-page-feedback {
	position: relative;
	width: 100%;
	overflow: auto;
}

#active-page-feedback img {
	height: 150px;
	position: relative;
	
	border-right: 2px dotted black; 

}

