#breathCanvas {
	background: #333;
	
	overflow-y: scroll;
	overflow-x: hidden;

	-ms-overflow-style: none;
	/* Hides the scrollbar. */

	-ms-scroll-chaining: none;
	/* Prevents Metro from swiping to the next tab or app. */

	-ms-scroll-snap-type: mandatory;
	/* Forces a snap scroll behavior on your images. */

	-ms-scroll-snap-points-x: snapInterval(0%, 100%);
	/* Defines the y and x intervals to snap to when scrolling. */
}

#breathCanvas::-webkit-scrollbar {
	display: none;
}

#breathController {
	height: 200%;
	position: relative;
}

#breathController:after {
	content: '';
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
}

#breathController.active:after {
	visibility: hidden;
}

#breathGraph {
}

#breathGraph:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	border-right: 3px dashed white;
}