body {
	background: black;
	color: white;
}

.page-content {
	position: absolute;
	top: 65px;
	bottom: 125px;
	left: 15px;
	right: 15px;
	overflow: hidden;
}

h2 {
	padding: 0 15px;
}

.bottom-buttons {
	position: fixed;
	background: black;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
}

#start-page {
	display: block;
}

.content-page, #introBox {
	display: none;
}



/*

.main-region {
	overflow: auto;
	position: absolute;
	padding-bottom: 125px;
	bottom: 0;
	left: 0;
	right: 0;
	top: 65px;
}

#introBox {
	color: white;
}

.canvasBox {
	background-color: black;
	margin-bottom: 5px;
	width: 100%;
}

	.canvasBox h2 {
		text-align: center;
		padding-top: 40px;
	}

#bannerHead {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#introBox {
	color: white;
}

*/