body {
	background: black;
	color: white;
}

.page-content {
	position: absolute;
	top: 65px;
	bottom: 65px;
	left: 15px;
	right: 15px;
	overflow: hidden;
	z-index: 5;
}

#preCanvas {
	height: 100%;
}

h2 {
	padding: 0 15px;
	font-size: 25px;
}

.bottom-buttons {
	position: fixed;
	background: black;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	overflow: hidden;
}

.bottom-buttons:not(.single) button {
	width: 50%;
	float: left;
	margin: 0;
}

.bottom-buttons:not(.single) button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.bottom-buttons:not(.single) button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.bottom-buttons.triple button {
	width: 33%;
}

.bottom-buttons.triple button:nth-child(2) {
	border-radius: 0;
	width: 34%
}

#start-page {
	display: block;
}

#help-page .page-content {
	overflow-y: auto;
}

.content-page, #introBox {
	display: none;
}

.labels {
	background: #222;
	position: relative;
}

.labels:not(.y-axis) {
	height: 30px;
}

.labels.y-axis {
	width: 30px;
}

#loggedInUser {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

#loggedInUser .handle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #4cae4c;
	position: absolute;
	top: 15px;
	right: 15px;
	background-image: url('../images/user.png');
	background-size: cover;
}

#loggedInUser .handle:active, #loggedInUser .handle:hover {
	background-color: #71C771;
}

#loggedInUser .menu {
	display: none;
	position: absolute;
	top: 70px;
	right: 15px;
	background: white;
	border-radius: 5px;
	min-width: 200px;
}

#loggedInUser .menu:before {
	content: '';
	position: absolute;
	top: -10px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}

#loggedInUser .menu ul {
	list-style-type: none;
	padding: 0;
	margin: 5px 0;
}

#loggedInUser .menu ul li {
	color: black;
	padding: 10px;
}

#loggedInUser .menu ul a li {
	color: #4cae4c;
}

#loggedInUser .menu ul a:hover {
	text-decoration: none;
}

#loggedInUser .menu ul li:hover, #loggedInUser .menu ul li:active {
	background: rgba(0,0,0,0.1);
}

.content-page .messageDialog {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	margin-top: -50px;
	margin-left: -100px;
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	color: white;
	text-align: center;
}