body {
	background: black;
	color: white;
}

.page-content {
	position: absolute;
	top: 65px;
	bottom: 65px;
	left: 15px;
	right: 15px;
	overflow: hidden;
	z-index: 5;
}

h2 {
	padding: 0 15px;
}

.bottom-buttons {
	position: fixed;
	background: black;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	overflow: hidden;
}

.bottom-buttons:not(.single) button {
	width: 50%;
	float: left;
	margin: 0;
}

.bottom-buttons:not(.single) button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.bottom-buttons:not(.single) button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.bottom-buttons.triple button {
	width: 33%;
}

.bottom-buttons.triple button:nth-child(2) {
	border-radius: 0;
	width: 34%
}

#start-page {
	display: block;
}

#help-page .page-content {
	overflow-y: auto;
}

.content-page, #introBox {
	display: none;
}

#logout-link {
	position: absolute;
	right: 10px;
}

.labels {
	background: #222;
	position: relative;
}

.labels:not(.y-axis) {
	height: 30px;
}

.labels.y-axis {
	width: 30px;
}