#sessions {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
}

.session {
	background: #222;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 0;
	position: relative;
	overflow: hidden;
}

.session:hover, .session:active {
	background: #333;
}

.session h5 {
	float: left;
	color: white;
	font-size: 16px;
}

.session .duration {
	float: right;
}

#progressGraph {
	background: #111;
	overflow-y: hidden;
	overflow-x: auto;
}

#progressGraph::-webkit-scrollbar { 
    display: none; 
}

#progress-page label {
	position: absolute;
	top: 5px;
	font-weight: normal;
}