#resultsGraph {
	overflow-y: hidden;
	overflow-x: auto;
	height: 120px;
}

#resultsGraph::-webkit-scrollbar { 
    display: none; 
}

#resultsGraph canvas {
	background: white;
}

#resultsGraph label {
	position: absolute;
	top: 5px;
	font-weight: normal;
}

#condensedResultsGraph {
	background: white;
	height: 80px;
	position: relative;
}

#condensedResultsGraph:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	border-right: 3px solid #777;
}

.labels {
	height: 40px;
	position: relative;
	color: white;
}