#resultsGraph {
	background: #111;
	overflow-y: hidden;
	overflow-x: auto;
}

#resultsGraph::-webkit-scrollbar { 
    display: none; 
}

#results-page label {
	position: absolute;
	top: 5px;
	font-weight: normal;
}

#results-page label:not(:first-child):not(:last-child) {
	margin-left: -18px;
}

#condensedResultsGraph {
	background: #111;
	position: relative;
}

#condensedResultsGraphCanvas {
	position: relative;
}

#condensedResultsGraph:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	border-right: 3px solid white;
}