#resultsGraph {
	background: #111;
	overflow-y: hidden;
	overflow-x: auto;
}

#resultsGraph::-webkit-scrollbar { 
    display: none; 
}

#results-page label {
	position: absolute;
	top: 5px;
	font-weight: normal;
}

#results-page label:not(:first-child):not(:last-child) {
	margin-left: -18px;
}

#condensedResultsGraph {
	background: #111;
	position: relative;
}

#condensedResultsGraphCanvas {
	position: relative;
}

#condensedResultsGraph:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	border-right: 3px solid white;
}

#basicStatistics {
	overflow: hidden;
}

#basicStatistics h4 {
	margin: 0;
}

#basicStatistics p {
	font-size: 30px;
	height: 35px;
	margin: 0;
}

.half {
	float: left;
	width: 50%;
	text-align: center;
}

#condensedResultsGraph span {
	position:absolute;
	bottom:-20px;
}

#condensedResultsGraph span:first-child {
	left: 10px;
}

#condensedResultsGraph span:nth-child(2) {
	right: 10px;
}


